#register-form {
    margin: 150px auto;
    width: 480px;
}

.form-control {
    width: 300px;
    margin-left: 20px;
    float: right;
}

.form-group {
    white-space: nowrap;
}

.col-sm-offset-2 {
    text-align: right; 
}

.form-horizontal .control-label {
    text-align: left; 
}

.col-sm-10 {
    float: right;
}
